.lead {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 100%;
    padding-bottom: 64px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .lead {
    padding-bottom: 88px;
    max-width: 100%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .lead {
    max-width: 90.626%;
    padding-bottom: 92px;
  }
}

@media screen and (min-width: 1280px) {
  .lead {
    max-width: 76.875%;
    padding-bottom: 92px;
  }
}
