.footer__links {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media screen and (max-width: 768px) {
  .footer__links {
    flex-direction: column;
    gap: 31px;
  }
}

@media screen and (min-width: 768px) {
  .footer__links {
    flex-direction: row;
    gap: 19px;
  }
}
